body {
  text-align: center;
  font-size: 20px;
}

.control {
  width: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.control .btn {
  cursor: pointer;
}

.control-pnl {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-between;
}